<h1>Equipments#index</h1>

<%= link_to(new_equipment_path, class: 'registration-btn') do %>
  <span class='registration-btn-text'>出品する</span>
  <%= image_tag '' , size: '185x50' ,class: "registration-btn-icon" %>
<% end %>

<p>Find me in app/views/equipments/index.html.erb</p>
